button {
  border: none;
  background: none;
  color: $white;

  @include hover {
    cursor: pointer;
  }
}

.header__bookmarks-close {
  max-width: 15px;
  max-height: 15px;
}

.header__search-button {
  padding: 9px 17px;
  font-weight: $semi;
  background-color: $white;
  color: $black;

  @include hover {
    cursor: pointer;
    opacity: 0.8;
    transition: $regular;
  }
}

.nation__informations-save {
  margin: 0 auto;
  font-weight: $semi;

  @include hover {
    transition: $regular;
    transform: scale(1.1);
  }
}
