// Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(16, 12, 20, 1);
$lightBlack: rgba(16, 12, 20, 0.9);
$gray: rgba(39, 39, 39, 1);
$blue: rgba(53, 92, 125, 1);

// Fonts
$PrimaryFont: "Roboto";

// Weights
$semi: 600;
$strong: 900;

// Transitions
$regular: 0.2s all ease-in-out;
