.nation {
  background-color: $lightBlack;
  min-height: 100vh;
  color: $white;
}

.nation__header {
  display: none;
}

.nation__empty-text {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 287px;
  transform: translate(-50%, -50%);
  color: $white;
  font-size: 17px;
  opacity: 0.7;
  text-align: center;
  line-height: 25px;
}

.nation__informations {
  max-width: 890px;
  margin: 0 auto;
}

.nation__informations-text {
  padding: 20px 60px;
}

.nation__informations-join {
  max-width: 300px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.nation__informations-flag {
  position: relative;
  width: 100%;
  min-height: 350px;

  @include background;

  @include after {
    @include darker;
    background-color: $black;
    opacity: 0.5;
  }

  @include phone {
    min-height: 250px;
  }
}

.nation__informations-title {
  font-size: 45px;
  font-weight: $semi;
  margin-bottom: 10px;

  @include phone {
    font-size: 30px;
  }
}

.nation__informations-tag {
  line-height: 29px;
}

.nation__informations-region {
  display: block;
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 15px;

  @include phone {
    font-size: 15px;
  }
}

.nation__informations-save {
  margin: 0 auto;
}

.nation__informations-heading {
  text-align: center;
  margin-bottom: 50px;
  line-height: 25px;

  @include phone {
    margin-bottom: 30px;
  }
}

.nation__informations-facts {
  @include phone {
    margin-bottom: 40px;
  }
}

.nation__informations-fact {
  line-height: 20px;
  @include phone {
    font-size: 15px;
    margin-bottom: 25px;
  }
}

.nation__informations-item {
  margin-bottom: 15px;
}

.nation__informations-neighbourList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nation__informations-neighbourItem {
  margin: 20px;
  max-width: calc(20% - 40px);
  flex: 1 1 calc(20% - 40px);

  @include phone {
    margin: 10px;
    max-width: calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
  }
}

.nation__informations-neighbour {
  display: block;
  color: $white;

  @include hover {
    transform: scale(1.1);
    transition: $regular;
  }
}

.nation__inofmartions-neighbourFlag {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border-radius: 20px;

  @include background;

  @include after {
    background-color: $black;
    opacity: 0.2;
    border-radius: 20px;

    @include darker;
  }
}

.nation__information-neigbourText {
  padding: 0 10px;
}

.nation__informations-neighbourName {
  line-height: 23px;

  @include phone {
    line-height: 19px;
    font-size: 14px;
  }
}

.nation__map {
  width: 100%;
  min-height: 500px;
}
